<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
">
    <!--1.配置注解要扫描的基础包-->
    <!-- <context:component-scan base-package="hb.rj.dao"/>-->
    <!--2.配置数据库属性文件 如c3p0的配置文件-->
    <context:property-placeholder location="classpath:*.properties"/>
    <!--3.配置数据库信息 原本Hibernate.cfg.xml文件中的内容-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driverClass}"/>
        <property name="jdbcUrl" value="${jdbc.jdbcUrl}" />
        <property name="user" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    <!--配置SessionFacory-->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <!--配置数据源-->
        <property name="dataSource" ref="dataSource"/>
        <!--hibernate框架其它配置-->
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">
                    org.hibernate.dialect.MySQL8Dialect
                </prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop
                        key="hibernate.current_session_context_class">thread</prop>
            </props>
        </property>
        <!-- 扫描路径 -->
        <property name="packagesToScan">
            <list>
                <value>hb.rj.pojo</value>
            </list>
        </property>
    </bean>
    <bean id="user" class="hb.rj.pojo.User" scope="prototype"/>
    <bean id="userDao" class="hb.rj.dao.UserDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="service" class="hb.rj.service.Service" scope="prototype"/>
    <bean id="loginAction" class="hb.rj.action.LoginAction" scope="prototype">
        <property name="userDao" ref="userDao"/>
        <property name="service" ref="service"/>
    </bean>

    <bean id="listAction" class="hb.rj.action.ListAction">
        <property name="userDao" ref="userDao"></property>
        <property name="service" ref="service"></property>
    </bean>
    <bean id="addAction" class="hb.rj.action.AddAction"></bean>


    <bean id="modifyIdAction" class="hb.rj.action.ModifyByIdAction">

    </bean>
</beans>
